<div class="contianer" *ngIf="!isLoading && !hasError">
    <div class="row m-auto justify-content-center">
        <locations-autocomplete></locations-autocomplete>
    </div>
    <!-- *ngIf="displayedLocation && displayedLocation.currentWeather" -->
    <div class="row justify-content-between m-auto">
        <div
              class="col-4 p-3 col-sm-3 col-lg-2
                    bg-light rounded text-center p-2">
            <span>{{ displayedLocation.name }}</span>
            <br>
            <span class="mt-2">{{ displayedLocation.currentWeather.temperature.metric.value }}&#8451;</span>
        </div>
        <!-- *ngIf="displayedLocation" -->
        <div
             class="col-4 col-sm-3 col-md-2 p-0">
            <button type="button" class="btn btn-light float-right"
                (click)="addFavoriteLocation()">
                Add to favorites
            </button>
        </div>
    </div>
    <!-- *ngIf="displayedLocation && displayedLocation.currentWeather" -->
    <div
         class="row vh-25 mt-4 ml-auto weather-text 
                mr-auto justify-content-center font-weight-bold">
            {{ displayedLocation.currentWeather.weatherText }}
    </div>
    <!-- *ngIf="fiveDaysForecasts" -->
    <fiveDaysForecasts
        [fiveDaysForecasts]="fiveDaysForecasts"
    ></fiveDaysForecasts>


</div>

<div class="home-view-error text-center font-weight-bold"
    *ngIf="!isLoading && hasError">
    Something went wrong please try again later 
</div>

<div *ngIf="isLoading" class="container text-center">
    <img src="../../../assets/images/loading.gif">
</div>